# to run the front end in development mode in a container (for example with VS Code)
# if run on mac M1, first need to install the linux version of @rollup/rollup into node_modules. https://fullstackopen.com/en/part12/basics_of_orchestration#exercise-12-15
# first docker build -t frontend-dev -f dev.Dockerfile .
# then docker container run --name frontend-dev -it --rm -p 5173:5173 -v "$(pwd):/usr/src/app/" frontend-dev bash
# then npm install (this will install in the container and on the host as well)
# after that npm run dev will work.
# docker compose -f docker-compose.dev.yml up
# docker compose -f docker-compose.dev.yml down --volumes
services:
  app:
    image: frontend-dev
    build:
      context: . # The context will pick this directory as the "build context"
      dockerfile: dev.Dockerfile # This will simply tell which dockerfile to read
    volumes:
      - ./:/usr/src/app # The path can be relative, so ./ is enough to say "the same location as the docker-compose.yml"
    ports:
      - 5173:5173
    container_name: frontend-dev # This will name the container hello-front-dev
