build
dist
mongo_data
redis_data

node_modules
.dockerignore
Dockerfile
dev.Dockerfile
docker-compose.dev.yml
docker-compose.yml
compose.dev.yaml
compose.yaml
.git
.gitignore
npm-debug.log
.npmrc
.DS_Store
