# to run the frontend and backend both in production mode behind a proxy server
# docker compose up
services:
  frontend:
    image: frontend
    build:
      context: ./frontend
    container_name: frontend
  backend:
    image: backend
    build:
      context: ./backend/
    container_name: backend
  reverse-proxy:
    image: nginx:1.25-alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 8080:80
    container_name: reverse-proxy
    depends_on:
      - frontend
      - backend
